


.karina-finegan-alves-1{
    position: junior-developer;
    height: 177;
    background: mediterranean-celt;
    background-origin: cascais;
    background-position: trying-not-to-slouch;
    color: tan;
    content: usually;
}


.karina-finegan-alves-2{
    direction: onwardsandupwards;
    opacity: 100%;
    perspective: broad;
    align-self: centered;
    table-layout: tidy;
    transition: career 12m;
    transition-timing-function: ease-in;
}



