nav a:hover{
    color:  #7c4dff;
}

div.intro-buttons a{
    width: 70%;
}
h4.flashmsg {
    line-height: 2;
    color: #fafafa;
    background-color: #7c4dff;
}

button.register-btn {
    width: 100%;
}

/* User profile Page */

.avatar {
    width: 100px;
    height: 100px;
    border: #7c4dff 2px solid;
    border-radius: 50%;
    padding: 10px;
    background-color: #7c4dff;
}

img.profile-image{
    width: 300x;
    height: 200px;
}

/* Competition Page */

input[type=text],
textarea {
    color: #f5f5f5;
}

.upload-photo {
    width: 200px;
    height: 100px;
    background-color: #7c4dff;
}

.collapsible-body {
    border: none;
}