{% extends "base.html" %}

{% block content %}

<h1 class="page-heading center-align">Browse Images</h1>

      <div class="search-card row">
         
          <form action="{{ url_for('search') }}" method="post" class="col s12 m10 offset-m1 search-form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="row valign-wrapper center-align">

                <div class="input-field col s12 m8 offset-m2">
                     <input type="text" name="query" id="query" class="validate" minlength="3">
                     <label for="query">Filter by keyword</label>
                </div>
                
            </div>
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m8 offset-m2">
                      <div class="input-field col s12">
                        <select id="category" name="category">
                        <option value="" disabled selected>Select category:</option>
                        <option value="portraiture">Portraiture</option>
                        <option value="landscape">Landscape</option>
                        <option value="architecture">Architecture</option>
                        <option value="monochrome">Monochrome</option>
                        <option value="street">Street</option>
                        <option value="event">Event</option>
                        <option value="wildlife">Wildlife</option>
                        </select>
                        <label for="category">Filter by competition category</label>
                    </div>
                </div>
            </div>
                <div class="row award-status-row">
                <div class="col s10 offset-s1 m8 offset-m2">
                    <p class="filter-award">Filter by award status</p>
                    <label class="award-search-label">
                        <input type="checkbox" class="filled-in checkbox-yellow" name="award" value="1" />
                        <span>1st Place</span>
                    </label>    
                    <label class="award-search-label">
                        <input type="checkbox" class="filled-in checkbox-yellow" name="award" value="2" />
                        <span>2nd Place</span>
                    </label>    
                    <label class="award-search-label">
                        <input type="checkbox" class="filled-in checkbox-yellow" name="award" value="3" />
                        <span>3rd Place</span>
                    </label>
                </div>
            </div>
            <div class="row">
            <div class="col s12 m10 offset-m1 l8 offset-l2">
                    <a href="{{ url_for('browse') }}" class="btn col s12 m10 offset-m1 l4 offset-l2 reset-btn"><i class="fas fa-undo-alt"></i> Reset</a>
                    <button type="submit" class="btn col s12 m10 offset-m1 l4 search-btn">
                        <i class="fas fa-search"></i> Search
                    </button>  
                </div>
            </div>
          </form>
        
       
      </div>
   

{% if "browse" in source_url %}
   <script> window.location.hash="entries"; </script>
{% endif %}
<div id="entries" class="row s12">
        <!-- <div class="row profile-photos-row"></div> -->
            {% for photo in photos %}
            
                <div class="col s12 m4 l3 profile-photos-col browse-images-container">
                    <img class="thumbnail-photo browse-photo" src="{{ url_for('file', filename=photo.filename) }}" alt="{{photo.photo_title}}">
                    <div class="overlay">
                        <a href="{{ url_for('get_photo', filename=photo.filename )}}">
                        <h4 class="overlay-text overlay-text-title">{{photo.photo_title}}</h4>
                        <h5 class="overlay-text overlay-text-username">by {{photo.created_by}}</h5>
                        {% if photo.week_and_year == datetime.strftime("%V%G") %}
                            <p class="overlay-text overlay-text-awards">This photo is in this week's competition.</p>
                        {% endif %}
                        <p class="overlay-text overlay-text-instruc">Click to see image details</p>
                        </a>
                    </div>
                </div>
            
            {% endfor %}
    </div>

{% endblock %}