{% extends "base.html" %}

{% block content %}
<div class="row">

    {% if source_url %}

        {% if "profile" in source_url %}
            {% if photo.created_by == session.user %}
                <div class="row back-link-div">
                    <a class="back-link" href="{{url_for('profile', username=photo.created_by)}}">
                        <i class="fas fa-long-arrow-alt-left"></i> Back to my profile page.</a>
                </div>
            {% else %}
                <div class="row back-link">
                    <a class="back-link" href="{{url_for('profile', username=photo.created_by)}}">
                        <i class="fas fa-long-arrow-alt-left"></i> Back to {{username|capitalize}}'s Profile</a>
                </div>
            {% endif %}
        {% elif "compete" in source_url %}
        <div class="row">
            <a class="back-link" href="{{url_for('compete', username=photo.created_by)}}"><i
                    class="fas fa-long-arrow-alt-left"></i> Back to the competition!</a>
        </div>
        {% elif "recent_winners" in source_url %}
        <div class="row">
            <a class="back-link" href="{{url_for('recent_winners')}}"><i class="fas fa-long-arrow-alt-left"></i> Back to
                recent winners!</a>
        </div>
        {% elif "browse" in source_url or "search" in source_url %}
        <div class="row back-link-div">
            <a class="back-link" href="{{url_for('browse')}}"><i class="fas fa-long-arrow-alt-left"></i> Back to
                browse!</a>
        </div>
        {% elif "edit_photo" in source_url %}
        <div class="row back-link-div">
            <a class="back-link" href="{{url_for('profile', username=photo.created_by)}}"><i class="fas fa-long-arrow-alt-left"></i> Back to my profile page.</a>
        </div>
        {% endif %}

        {% else %}
        {% endif %}

</div>

<div class="row">
    <div class="col s12 m6 offset-m3">

        <h1 class="photo-title col s10 offset-s1 center-align">{{ photo.photo_title|capitalize }}</h1>
        <h2 class="artist-name col s10 offset-s1 center-align">by {{ username|capitalize }}</h2>

        <!-- Show photo points if this current week_and_year is different or != as the week and year the photo was entered.  -->
        {% if datetime.strftime("%V%G") != photo.week_and_year %}
            <h3 class="photo-points col s10 offset-s1 center-align">{{photo.photo_votes}} points</h3>
        {% endif %}
        <img class="get-photo-img" src="{{ url_for('file', filename=photo.filename) }}">
        <p class="photo-story col s10 offset-s1 left-align">{{ photo.photo_story|capitalize }}</p>
         {% if photo.awards == 1 %}
             <h4 class="awards first-place-award col s10 offset-s1 center-align"><em>Awards:</em> 1st Place in the {{photo.competition_category}} category.</h4>
        {% elif photo.awards == 2 %}
             <h4 class="awards second-place-award col s10 offset-s1 center-align"><em>Awards:</em> 2nd Place in the {{photo.competition_category}} category.</h4>
        {% elif photo.awards == 3 %}
            <h4 class="awards third-place-award col s10 offset-s1 center-align"><em>Awards:</em> 3rd Place in the {{photo.competition_category}} category.</h4>
        {% endif %}
        <h3 class="first-tech-spec tech-specs col s10 offset-s1 left-align"><em>Camera:</em> {{ photo.camera|capitalize }}</h3>
        {% if photo.lens %}
        <h3 class="tech-specs col s10 offset-s1 left-align"><em>Lens:</em> {{ photo.lens }}</h3>
        {% endif %}
        {% if photo.aperture %}
        <h3 class="tech-specs col s10 offset-s1  left-align"><em>Aperture:</em> {{photo.aperture }}</h3>
        {% endif %}
        {% if photo.shutter %}
        <h3 class="tech-specs col s10 offset-s1  left-align"><em>Shutter Speed:</em> {{ photo.shutter }}</h3>
        {% endif %}
        {% if photo.iso %}
        <h3 class="tech-specs col s10 offset-s1  left-align"><em>ISO:</em> {{ photo.iso }}</h3>
        {% endif %}

    </div>
</div>

<!-- These buttons should only be visible if the session["user"] is the same as the photo creator. -->
{% if username == session.user %}
<!-- The Edit button needs to link to an edit photo page - where all the inputs draw from the photo details. deleted user=user from editphoto url-->
<div class="row">
    <div class="col s12 m8 offset-m2 l3 offset-l3">
<a href="{{ url_for('edit_photo', photo=photo, filename=photo.filename) }}"
    class="waves-effect waves-light btn edit-photo-btn col s10 offset-s1 center-align">Edit Photo Details</a>
    </div>
     <div class="col s12 m8 offset-m2 l3 ">
<a href="#confirm-photo-deletion" class="modal-trigger waves-effect waves-light btn del-photo-btn col s10 offset-s1">Delete
    Photograph</a>
</div>
</div>
<!-- Confirm Photo Deletion Modal -->
  <div id="confirm-photo-deletion" class="modal">
    <div class="modal-content">
      <h4>Are you sure you want to delete "{{photo.photo_title|capitalize}}"?</h4>
      <p>This will delete this image permanently.</p>
      {% if photo.awards == 1 %}
        <p>This image has won a 1st place Gold award, if you delete it, 7 points will be deducted from your points total.</p>
      {% elif photo.awards == 2 %}
        <p>This image has won a 2nd place Silver award, if you delete it, 5 points will be deducted from your points total.</p>
      {% elif photo.awards == 3 %}
        <p>This image has won a 3rd place Bronze award, if you delete it, 3 points will be deducted from your points total.</p>
      {% endif %}
    </div>
    <div class="modal-footer">
      <a class="btn" href="{{ url_for('delete_photo', filename=photo.filename) }}">Yes, delete it.</a>
      <a class="modal-close btn" href="#!">No, cancel.</a>
    </div>
  </div>
{% endif %}

{% endblock %}