{% extends "base.html" %}

{% block content %}

<section class="center-align">
   <h4 class="grey-text text-lighten-5">Love photography?</h4>
    <h1 class="grey-text text-lighten-5">Welcome to Snapathon!</h1>
    <h3 class="grey-text text-lighten-5">Shoot, Compete, Rate, Repeat!</h3>
    <div class="intro-buttons">
        <a class="waves-effect waves-light btn-large pink darken-3 z-depth-3">LOGIN</a>
        <p class="grey-text text-lighten-5">not a member yet?</p>
        <a class="waves-effect waves-light btn-large pink darken-3 z-depth-3">REGISTER</a>
    </div>
</section>


{% endblock %}