{% extends "base.html" %}

{% block content %}

<section class="row section-home-1">
    <div class="col s12 m8 offset-m2 center-align">
        <i class="s4 m6 center-align logo-home fas fa-spa hide-on-med-and-down"></i>
        <h2 class="homepage-subheading1">Love photography?</h2>
        <h1 class="homepage-heading">SNAPATHON</h1>
        <h3 class="homepage-subheading2">Shoot, Compete, Rate, Repeat!</h3>
        {% if not session['user']%}
        <div class="home-buttons">
            <div class="col s12">
                <a href="{{ url_for('login') }}"
                    class="home-button waves-effect waves-light btn-large z-depth-3">LOGIN</a>
            </div>
            <div class="col s12 register-button-home">
                <a href="{{ url_for('register') }}"
                    class="home-button waves-effect waves-light btn-large z-depth-3">REGISTER</a>
            </div>
        </div>
        {% else %}
        <i class="fas fa-leaf welcome-icon"></i>
        <h4 class="homepage-subheading3 welcome-user">welcome {{ session['user'] }}</h4>
        {% endif %}
        {% if not session['user']%}
        <a class="content-hinting-link" href="#rules-section">
            <p class="content-hinting">Learn More</p>
            <i class="fas fa-angle-double-down content-hinting"></i>
        </a>
        {% endif %}

    </div>
</section>
<section id="rules-section" class="light-bg section-home-2">
    <div class="row">
        <div class="col s12 show-on-small hide-on-med-and-up homepage-mobile-image-1">
            <img class="home-image" src="{{url_for('static', filename='images/in-app/replacethis.jpg')}}" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <h2 class="center-align homepage-subheading4 dark-text">WEEKLY PHOTOGRAPHY COMPETITIONS</h2>
        </div>
    </div>
    <div class="row intro">

        <div class="col s12 m6 word-col">

            <div class="row">

                <div class="col s6 m6 center-align">
                    <i class="far fa-id-badge cta-icons "></i>
                    <h2 class="intro-words ">REGISTER</h2>
                </div>
                <div class="col s6 m6 center-align">
                    <i class="fas fa-chess-knight cta-icons"></i>
                    <h2 class="intro-words ">COMPETE</h2>
                </div>
            </div>

            <div class="row">
                <div class="col s6 m6 center-align">
                    <i class="fas fa-star cta-icons"></i>
                    <h2 class="intro-words ">RATE OTHERS</h2>
                </div>
                <div class="col s6 m6 center-align">
                    <i class="fas fa-trophy cta-icons "></i>
                    <h2 class="intro-words ">WIN POINTS</h2>
                </div>
            </div>

        </div>

        <div class="col m6 l5 img-col hide-on-small-only right-align">
            <img class="home-image home-image-desktop right-align"
                src="{{url_for('static', filename='images/in-app/pic4-dark-navy.jpg')}}" alt="mountains at sunset">
        </div>

    </div>
</section>
<section class="light-bg section-home-3">
    <div class="row schedule-row">
        <div class="schedule col s10 offset-s1">
            <h3 class="center-align homepage-subheading4 light-text">BE THE CONTESTANT AND THE JUDGE!</h3>

            <div id="content">
                <ul class="timeline">
                    <!-- Item 1 -->
                    <li>
                        <div class="direction-r">
                            <div class="flag-wrapper">
                                <span class="hexa"></span>
                                <span class="flag">MONDAY</span>
                                <span class="time-wrapper"><span class="time">@00:00</span></span>
                            </div>
                            <div class="desc">A new photography competition begins.</div>
                        </div>
                    </li>

                    <!-- Item 2 -->
                    <li>
                        <div class="direction-l">
                            <div class="flag-wrapper">
                                <span class="hexa"></span>
                                <span class="flag">MONDAY-FRIDAY</span>
                                <span class="time-wrapper"><span class="time">All day</span></span>
                            </div>
                            <div class="desc">Enter an image to compete in this week's competition.</div>
                        </div>
                    </li>

                    <!-- Item 3 -->
                    <li>
                        <div class="direction-r">
                            <div class="flag-wrapper">
                                <span class="hexa"></span>
                                <span class="flag">SATURDAY & SUNDAY</span>
                                <span class="time-wrapper"><span class="time">Until 22:00 Sun</span></span>
                            </div>
                            <div class="desc">Competitors cast their vote. All users who entered the competition get 1 vote.</div>
                        </div>
                    </li>
                    <!-- Item 4 -->
                    <li>
                        <div class="direction-l">
                            <div class="flag-wrapper">
                                <span class="hexa"></span>
                                <span class="flag">SUNDAY</span>
                                <span class="time-wrapper"><span class="time">@22:00</span></span>
                            </div>
                            <div class="desc">All image & user awards and points are announced.</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <div class="row points-scoring-row">
        <img class="home-image-2 col l6 offset-l1 hide-on-med-and-down"
            src="{{url_for('static', filename='images/in-app/pic5-blue-plane.jpg')}}" alt="">
        <div class="col s10 offset-s1 m4 offset-m7 l4 offset-l0  right-align points-box">
            <h3 class="right-align homepage-subheading4 dark-text">HOW DOES THIS WORK?</h3>
            <div class="points right-align">
                <p>When you enter a photograph in a SNAPATHON weekly competition you can win points in two ways. Firstly, if your image places 1st, 2nd or 3rd by 
                    getting the most votes, you receive 7, 5 or 3 points. Secondly, if you vote for an image that places 1st, 2nd or 3rd, you also receive points.
                Points and awards are calculated on Sunday evening. </p>
                <p>1st Place Image: <span class="em-points">7</span></p>
                <p>2nd Place Image: <span class="em-points">5</span></p>
                <p>3rd Place Image: <span class="em-points">3</span></p>
                <p>Vote for winning image: <span class="em-points">3</span></p>
                <p>Vote for 2nd place image: <span class="em-points">2</span></p>
                <p>Vote for 3rd place image: <span class="em-points">1</span></p>
            </div>
        </div> <br>
        {% if not session['user']%}
        <a class="col s10 offset-s1 m12 center-align" href="{{ url_for('register') }}">
            <h3 class="cta center-align">Register to get started today!</h3>
        </a>
        {% endif %}
    </div>

</section>
<section id="contact-form" class="dark-bg section-home-4">
    <div class="row">
        <div class="contact-form-box col s8 offset-s2 m6 offset-m3">
            <h2 class="center-align page-heading light-text">Contact Us</h2>
            <form method="POST" action="{{ url_for('home') }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email_of_sender" name="email_of_sender" type="text" class="validate" required>
                        <label for="email_of_sender">Email Address:</label>
                    </div>
                    <div class="input-field col s12">
                        <textarea id="message" name="message" class="validate" required></textarea>
                    </div>
                </div>
                <button class="contact-send-btn btn-large z-depth-3" type="submit" name="action"
                    value="Submit">SEND</button>
            </form>
        </div>
    </div>
</section>



{% endblock %}