{% extends "base.html" %}

{% block content %}

<section class="profile-page-header">
    <div class="row">
        <div class="col s10 m2 offset-m1 center-align avatar-wrapper hide-on-small-only">
            <img class="avatar" src="{{url_for('static', filename='images/in-app/user-secret-solid.svg')}}"/>
            <h5 class="badge user-points-badge">{{ user.user_points }}</h5>
             <p class="avatar-username">{{ user.username|capitalize }}</p>
        </div>
         <div class="col s10 offset-s1 center-align">
            <img class="small-avatar hide-on-med-and-up center-align" src="{{url_for('static', filename='images/in-app/user-secret-solid.svg')}}"/><br>
             <p class="center-align avatar-username hide-on-med-and-up">{{ user.username|capitalize }}</p>
             <h5 class="center-align badge user-points-badge hide-on-med-and-up">{{ user.user_points }}</h5>
       </div>
    </div>
    <div class="row">
        <div class="col s10 offset-s1 m6 offset-m1">  
            <h1 class="profile-page-heading">{{ user.username|capitalize }}'s profile</h1>
        </div>
       <div class="col s12 m2 offset-m2 right-align valign-center">
           {% if user.username == session.user %}
            <a href="{{ url_for('edit_profile', username=user.username) }}" class="waves-effect waves-light btn-large">Edit Profile</a> 
           {% endif %}
            <h4 class="date">UTC Date:{{ datetime.strftime("%A, %d %B %Y") }}</h4>
            <h4 class="date">Local Date & Time:{{ datetime.strftime("%X") }}</h4>
       </div>
    </div>
</section>
     
    <div class="row profile-row">
    <div class="col s12 no-padding">
      <ul class="tabs profile-tabs">
        <li class="tab profile-tab remove-border col s4"><a class="tooltipped" data-position="top" data-tooltip="Photos {{ user.username|capitalize }} has entered into competition" href="#entries">Entries</a></li>
        <li class="tab profile-tab col s4"><a class="tooltipped" data-position="top" data-tooltip="Photos {{ user.username|capitalize }} has voted for" href="#votes">Votes</a></li>
        <li class="tab profile-tab col s4"><a class="tooltipped" data-position="top" data-tooltip="All of {{ user.username|capitalize }}'s award-winning images" href="#awards">Awards</a></li>
      </ul>
    </div>

    <div id="entries" class="row s12">
        <!-- <div class="row profile-photos-row"></div> -->
            {% for photo in user_photos %}
            
                <div class="col s12 m4 l3 profile-photos-col">
                    <a href="{{ url_for('get_photo', filename=photo.filename )}}"><img class="thumbnail-photo" src="{{ url_for('file', filename=photo.filename) }}" alt="f"></a>
                </div>
            
            {% endfor %}
    </div>

    </div>
     <div id="votes" class="row s12">

             {% for photo in photos_voted_for %}
            
                <div class="col s12 m4 l3 profile-photos-col">
                    <a href="{{ url_for('get_photo', filename=photo.filename )}}"><img class="thumbnail-photo" src="{{ url_for('file', filename=photo.filename) }}" alt="f"></a>
                </div>
            
            {% endfor %}

    </div>
    <div id="awards" class="row s12">
        {% for photo in award_winners %}
            
                <div class="col s12 m4 l3 profile-photos-col">
                    <a href="{{ url_for('get_photo', filename=photo.filename )}}"><img class="thumbnail-photo" src="{{ url_for('file', filename=photo.filename) }}" alt="f"></a>
                </div>
            
            {% endfor %}
    </div>
  </div>

{% endblock %}