{% extends "base.html" %}

{% block content %}

<section class="profile-page-header">
    <div class="row">
        <div class="col s10 offset-s1 m7 offset-m1 hide-on-med-and-up">  
            <h1 class="profile-page-heading">{{ user.username|capitalize }}'s profile</h1>
        </div>
    </div>
    <div class="row">
        <div class="col s10 m2 offset-m1 center-align avatar-wrapper hide-on-small-only">
            <img class="avatar" src="{{url_for('static', filename='images/in-app/user-secret-solid.svg')}}"/>
            <h5 class="badge user-points-badge">{{ user.user_points }}</h5>
             <p class="avatar-username">{{ user.username|capitalize }}</p>
        </div>
         <div class="col s10 offset-s1 m2 offset-m1 center-align">
            <img class="small-avatar hide-on-med-and-up center-align" src="{{url_for('static', filename='images/in-app/user-secret-solid.svg')}}"/><br>
             <p class="center-align avatar-username hide-on-med-and-up">{{ user.username|capitalize }}</p>
             <h5 class="center-align badge user-points-badge hide-on-med-and-up">{{ user.user_points }}</h5>
       </div>
       
      <div class="col s6 offset-s3 center-align edit-profile-btn-col hide-on-med-and-up">
            <a href="{{ url_for('edit_profile', username=user.username) }}" class="waves-effect waves-light btn edit-profile-btn">Edit Profile</a> 
        </div>

        <div class="col s10 offset-s1 m6 offset-m2 center-align">
            {% if user.username == session.user %}
            <!-- If it is Mon-Fri -->
            {% if datetime.weekday() in range(0,5) %}
                <!-- If the user has yet to compete -->
                {% if can_enter %} 
                    <h4 class="time-msg">You still have to enter an image into this week's competition. You have {{comp_closes}} left to enter.</h4>
                    <h4 class="time-msg">Go to <a class="profile-link" href="{{url_for('compete', username=session['user'])}}">COMPETE</a> now to 
                        enter an image.</h4>
                {% else %}
                      <h4 class="time-msg">Voting opens in {{comp_closes}}.</h4>
                {% endif %}
            <!-- If it is Sat or Sunday before 22:00PM -->
            {% elif (datetime.weekday() == 5) or (datetime.weekday() == 6 and (datetime.strftime("%H") <= "22") ) %}
                <!-- If the user has not voted yet -->
                {% if votes_to_use > 0 %}
                    <h4 class="time-msg"> You still have to vote for your favourite image. You have {{voting_closes}} left to vote. If you don't vote, your entry's points will be reduced to 0.</h4>
                    <h4 class="time-msg">Go to <a class="profile-link" href="{{url_for('compete', username=session['user'])}}">VOTE</a> and cast your vote!</h4>
                <!-- If the user has voted already OR has no votes b/c they did not enter -->
                {% else %}
                    <h4 class="time-msg">Voting ends at 22:00 this Sunday in {{voting_closes}}, when awards, points & winners will be announced.</h4>
                {% endif %}
            {% elif (datetime.weekday() == 6 and (datetime.strftime("%H") >= "22") ) %}
                <h4 class="time-msg">The winners have been announced! Head to<a class="profile-link" href="{{url_for('recent_winners')}}">RECENT WINNERS</a> and see if you won! </h4>
            {% endif %}
            {% endif %}
        </div>

    </div>
    <div class="row">
        <div class="col s10 offset-s1 m7 offset-m1 hide-on-small-only">  
            <h1 class="profile-page-heading">{{ user.username|capitalize }}'s profile</h1>
        </div>
       
        {% if user.username == session.user %}
       

         <div class="col s6 offset-s1 m6 offset-m1 left-align hide-on-small-only">
            <a href="{{ url_for('edit_profile', username=user.username) }}" class="waves-effect waves-light btn edit-profile-btn">Edit Profile</a> 
        </div>

        <!-- End if user is logged in -->
        {% endif %}
       
    </div>
    
</section>
     
    <div class="row profile-row">
    <div class="col s12 no-padding">
      <ul class="tabs profile-tabs">
        <li class="tab profile-tab remove-border col s4"><a class="tooltipped" data-position="top" data-tooltip="Photos {{ user.username|capitalize }} has entered into competition" href="#entries">Entries</a></li>
        <li class="tab profile-tab col s4"><a class="tooltipped" data-position="top" data-tooltip="Photos {{ user.username|capitalize }} has voted for" href="#votes">Votes</a></li>
        <li class="tab profile-tab col s4"><a class="tooltipped" data-position="top" data-tooltip="All of {{ user.username|capitalize }}'s award-winning images" href="#awards">Awards</a></li>
      </ul>
    </div>

    <div id="entries" class="row s12">
        <!-- <div class="row profile-photos-row"></div> -->
            {% for photo in user_photos %}

                {% if photo.awards == 1 %}

                    <a href="{{ url_for('get_photo', filename=photo.filename) }}"> 
                    <div class="award-overlay-container  col s12 m4 l3 profile-photos-col ">
                    <img class="thumbnail-photo " src="{{ url_for('file', filename=photo.filename) }}" alt="{{photo.photo_title}}">
                    <div class="award-overlay award-overlay-1">
                        <i class="fas fa-award award award-1"></i>
                    </div>
                    </div>
                    </a>

                 {% elif photo.awards == 2 %}

                    <a href="{{ url_for('get_photo', filename=photo.filename) }}"> 
                    <div class="award-overlay-container  col s12 m4 l3 profile-photos-col ">
                    <img class="thumbnail-photo " src="{{ url_for('file', filename=photo.filename) }}" alt="{{photo.photo_title}}">
                    <div class="award-overlay award-overlay-2">
                        <i class="fas fa-award award award-2"></i>
                    </div>
                    </div>
                    </a>
                
                {% elif photo.awards == 3 %}

                <a href="{{ url_for('get_photo', filename=photo.filename) }}"> 
                <div class="award-overlay-container  col s12 m4 l3 profile-photos-col ">
                <img class="thumbnail-photo " src="{{ url_for('file', filename=photo.filename) }}" alt="{{photo.photo_title}}">
                <div class="award-overlay award-overlay-3">
                    <i class="fas fa-award award award-3"></i>
                </div>
                </div>
                </a>

                {% else %}
            
                <div class="col s12 m4 l3 profile-photos-col">
                    <a href="{{ url_for('get_photo', filename=photo.filename )}}"><img class="thumbnail-photo" src="{{ url_for('file', filename=photo.filename) }}" alt="f"></a>
                </div>

                {% endif %}
            
            {% endfor %}

    </div>
    

    </div>
     <div id="votes" class="row s12">

             {% for photo in photos_voted_for %}

             {% if photo.awards == 1 %}

                    <a href="{{ url_for('get_photo', filename=photo.filename) }}"> 
                    <div class="award-overlay-container  col s12 m4 l3 profile-photos-col ">
                    <img class="thumbnail-photo " src="{{ url_for('file', filename=photo.filename) }}" alt="{{photo.photo_title}}">
                    <div class="award-overlay award-overlay-1">
                        <i class="fas fa-award award award-1"></i>
                    </div>
                    </div>
                    </a>
            {% elif photo.awards == 2 %}

                    <a href="{{ url_for('get_photo', filename=photo.filename) }}"> 
                    <div class="award-overlay-container  col s12 m4 l3 profile-photos-col ">
                    <img class="thumbnail-photo " src="{{ url_for('file', filename=photo.filename) }}" alt="{{photo.photo_title}}">
                    <div class="award-overlay award-overlay-2">
                        <i class="fas fa-award award award-2"></i>
                    </div>
                    </div>
                    </a>
                
                {% elif photo.awards == 3 %}

                <a href="{{ url_for('get_photo', filename=photo.filename) }}"> 
                <div class="award-overlay-container  col s12 m4 l3 profile-photos-col ">
                <img class="thumbnail-photo " src="{{ url_for('file', filename=photo.filename) }}" alt="{{photo.photo_title}}">
                <div class="award-overlay award-overlay-3">
                    <i class="fas fa-award award award-3"></i>
                </div>
                </div>
                </a>

                {% else %}
            
                <div class="col s12 m4 l3 profile-photos-col">
                    <a href="{{ url_for('get_photo', filename=photo.filename )}}"><img class="thumbnail-photo" src="{{ url_for('file', filename=photo.filename) }}" alt="f"></a>
                </div>
                {% endif %}
            
            {% endfor %}

    </div>

    <div id="awards" class="row s12">
        {% for photo in award_winners %}

            {% if photo.awards == 1 %}

                    <a href="{{ url_for('get_photo', filename=photo.filename) }}"> 
                    <div class="award-overlay-container  col s12 m4 l3 profile-photos-col ">
                    <img class="thumbnail-photo " src="{{ url_for('file', filename=photo.filename) }}" alt="{{photo.photo_title}}">
                    <div class="award-overlay award-overlay-1">
                        <i class="fas fa-award award award-1"></i>
                    </div>
                    </div>
                    </a>
            {% elif photo.awards == 2 %}

                    <a href="{{ url_for('get_photo', filename=photo.filename) }}"> 
                    <div class="award-overlay-container  col s12 m4 l3 profile-photos-col ">
                    <img class="thumbnail-photo " src="{{ url_for('file', filename=photo.filename) }}" alt="{{photo.photo_title}}">
                    <div class="award-overlay award-overlay-2">
                        <i class="fas fa-award award award-2"></i>
                    </div>
                    </div>
                    </a>
                
                {% elif photo.awards == 3 %}

                <a href="{{ url_for('get_photo', filename=photo.filename) }}"> 
                <div class="award-overlay-container  col s12 m4 l3 profile-photos-col ">
                <img class="thumbnail-photo " src="{{ url_for('file', filename=photo.filename) }}" alt="{{photo.photo_title}}">
                <div class="award-overlay award-overlay-3">
                    <i class="fas fa-award award award-3"></i>
                </div>
                </div>
                </a>

                {% else %}
            
                <div class="col s12 m4 l3 profile-photos-col">
                    <a href="{{ url_for('get_photo', filename=photo.filename )}}"><img class="thumbnail-photo" src="{{ url_for('file', filename=photo.filename) }}" alt="f"></a>
                </div>

                {% endif %}
            
            {% endfor %}
    </div>


{% endblock %}