{% extends "base.html" %}

{% block content %}

<section class="profile-page-header">
    <div class="row">
        <div class="col s12 m4 offset-m2 left-align">
            <img class="avatar" src="{{url_for('static', filename='images/in-app/user-secret-solid.svg')}}"/>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m4 offset-m2 left-align">
            <span class="new badge user-points-badge">{{ user.points }}</span>
            <h1 class="profile-page-heading">{{ username|capitalize }}'s profile</h1>
        </div>
       <div class="col s12 m2 offset-m2 right-align valign-center">
            <h4 class="date">UTC Date:{{ datetime.strftime("%A, %d %B %Y") }}</h4>
            <h4 class="date">Local Date & Time:{{ datetime.strftime("%X") }}</h4>
       </div>
    </div>
</section>
    
    
    <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a href="#entries">Entries</a></li>
        <li class="tab col s3"><a href="#votes">Votes</a></li>
        <li class="tab col s3"><a href="#awards">Awards</a></li>
      </ul>
    </div>

    <div id="entries" class="row s12">
        <!-- <div class="row profile-photos-row"></div> -->
            {% for photo in user_photos %}
            
                <div class="col s12 m4 l3 profile-photos-col">
                    <a href="{{ url_for('get_photo', filename=photo.filename )}}"><img class="thumbnail-photo" src="{{ url_for('file', filename=photo.filename) }}" alt="f"></a>
                </div>
            
            {% endfor %}
    </div>

    </div>
     <div id="votes" class="row s12">

            <h1>Photos {{username|capitalize}} has voted for.</h1>
             {% for photo in photos_voted_for %}
            
                <div class="col s12 m4 l3 profile-photos-col">
                    <a href="{{ url_for('get_photo', filename=photo.filename )}}"><img class="thumbnail-photo" src="{{ url_for('file', filename=photo.filename) }}" alt="f"></a>
                </div>
            
            {% endfor %}

    </div>
    <div id="awards" class="row s12">

            <h1>These are {{username|capitalize}}'s award-winning images.</h1>

    </div>
  </div>

{% endblock %}