{% extends "base.html" %}

{% block content %}
<div class="row">
    <h1 class="page-heading center-align">Recent Winners</h1>
    <h2 class="page-sub-subheading-text comp-results-intro center-align col s10 offset-s1">Competition results for the week starting {{week_starting}} with the theme of "{{competition_category}}"</h2>
    <h2 class="page-subheading center-align col s10 offset-s1">Congratulations to the following users:</h2>
</div>
<section class="row first_place">
    
        <h2 class="page-subheading center-align first-place-title">FIRST PLACE</h2>
        {% if first_place|length > 1 %}
        <h2 class="page-sub-subheading-text center-align tie-announcement-first">IT'S A TIE!</h2>
        {% endif %}
        {% for img in first_place %}
        <div class="award-messages col s12">
            <a class="award-text-link" href="{{url_for('profile', username=img.created_by)}}"><p class="award-text center-align">Congrats to {{img.created_by|capitalize}}!</p></a>
            <a class="award-text-link" href="{{ url_for('get_photo', filename=img.filename) }}"><p class="award-text center-align">with "{{img.photo_title|capitalize}}"</p></a>
            <p class="award-text center-align">which received {{img.photo_votes}} votes!</p>
        </div>
        
            <a href="{{ url_for('get_photo', filename=img.filename) }}"><img class="thumbnail-photo browse-photo award-photo-first col s12 m8 offset-m2 xl6 offset-xl3" src="{{ url_for('file', filename=img.filename) }}" alt="{{img.photo_title}}"></a>
        {% endfor %}
</section>

<section class="second_place row">
     <h2 class="page-subheading center-align second-place-title">SECOND PLACE</h2>
     {% if second_place|length > 1 %}
    <h2 class="page-sub-subheading-text center-align tie-announcement-second">IT'S A TIE!</h2>
    {% endif %}
    {% for img in second_place %}
          <div class="award-messages col s12">
        <a class="award-text-link" href="{{url_for('profile', username=img.created_by)}}"><p class="center-align award-text">Congrats to {{img.created_by|capitalize}}!</p></a>
        <a class="award-text-link" href="{{ url_for('get_photo', filename=img.filename) }}"><p class="award-text center-align">with "{{img.photo_title|capitalize}}"</p></a>
        <p class="center-align award-text">which received {{img.photo_votes}} votes!</p>
        </div>
        <a href="{{ url_for('get_photo', filename=img.filename) }}"><img class="thumbnail-photo browse-photo award-photo-second col s12 m8 offset-m2 xl6 offset-xl3" src="{{ url_for('file', filename=img.filename) }}" alt="{{img.photo_title}}"></a>
        
        {% endfor %}
</section>
<section class="third_place row">
     <h2 class="page-subheading center-align third-place-title">THIRD PLACE</h2>
     {% if third_place|length > 1 %}
    <h2 class="page-sub-subheading-text center-align tie-announcement-third">IT'S A TIE!</h2>
    {% endif %}
    {% for img in third_place %}
    <div class="award-messages col s12">
        <a class="award-text-link" href="{{url_for('profile', username=img.created_by)}}"><p class="center-align award-text">Congrats to {{img.created_by|capitalize}}!</p></a>
        <a class="award-text-link" href="{{ url_for('get_photo', filename=img.filename) }}"><p class="center-align award-text">with "{{img.photo_title|capitalize}}"</p></a>
        <p class="center-align award-text">which received {{img.photo_votes}} votes!</p>
        </div>
        <a href="{{ url_for('get_photo', filename=img.filename) }}"><img class="thumbnail-photo browse-photo award-photo-third col s12 m8 offset-m2 xl6 offset-xl3" src="{{ url_for('file', filename=img.filename) }}" alt="{{img.photo_title}}"></a>
    {% endfor %}
</section>



{% endblock %}