{% extends "base.html" %}

{% block content %}

    <div class="row">
        
    <div class="col s12 m4 offset-m4">
        
        <form class="card-panel grey darken-4 register-form" method="POST" action="{{ url_for('register') }}">
            <h1 class="center-align register-heading">REGISTER</h1>
            <div class="row">
                <div class="input-field col s12">
                    <input id="username" name="username" type="text" class="validate" minlength="5" maxlength="25" required>
                    <label for="username">username</label>
                </div>
                <div class="input-field col s12">
                    <input id="email" name="email" type="text" class="validate" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" required>
                    <label for="email">email</label>
                </div>
                <div class="input-field col s12">
                    <input id="password" name="password" type="password" class="validate" minlength="6" maxlength="25" required>
                    <label for="password">password</label>
                </div>
                <div class="input-field col s12">
                    <input id="password-confirmation" name="password-confirmation" type="password" class="validate" minlength="6" maxlength="25" required>
                    <label for="password-confirmation">password confirmation</label>
                </div>
                <button class="register-btn btn-large btn waves-effect waves-light center-align" type="submit" name="action">REGISTER
                </button>
            </div>
        </form>
    </div>
  </div>
            

{% endblock %}