{% extends "base.html" %}

{% block content %}
<!-- Winners Listing -->
<div class="row">
    <h1 id="main" class="page-heading center-align">Winners</h1>
</div>
    {% if first_place %}
        <h2 class="page-sub-subheading-text comp-results-intro center-align col s10 offset-s1 m8 offset-m2">
            Competition results for the week starting {{week_starting}} with the theme of "{{competition_category}}"
        </h2>
        <h2 class="page-subheading center-align col s10 offset-s1">Congratulations to the following users:</h2>
<!-- First Place Winners -->
<section class="row first_place">
    <div class="row">
        <h2 class="page-subheading center-align first-place-title">FIRST PLACE</h2>
        {% if first_place|length > 1 %}
            <h2 class="page-sub-subheading-text center-align tie-announcement-first">IT'S A TIE!</h2>
        {% endif %}
        {% for img in first_place %}
            {% for user in users %}
                {% if img.created_by == user.username %}
                    {% if user.profile_photo is not none %}
<!-- Profile Photo of the winner if they have a profile photo -->
                        <div class="col s12 center-align">
                            <a class="award-text-link" href="{{url_for('profile', username=img.created_by)}}">
                                <img class="avatar align-center" src="{{url_for('file', filename=user.profile_photo)}}" alt="{{users.username}}'s profile pic'">
                            </a>
                        </div>
                    {% else %}
<!-- Default avatar of the winner if they don't have a profile photo uploaded -->
                        <div class="col s12 center-align">
                            <a class="award-text-link" href="{{url_for('profile', username=img.created_by)}}">
                                <img class="avatar align-center" src="{{url_for('static', filename='images/profile-pic/profile-pic-default.svg')}}" 
                                alt="{{users.username}}'s default profile avatar">
                            </a>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
<!-- Award messages for 1st place images -->
            <div class="award-messages col s12">
                <a class="award-text-link" href="{{url_for('profile', username=img.created_by)}}">
                    <p class="award-text center-align">Congrats to {{img.created_by|capitalize}}!</p>
                </a>
                <a class="award-text-link" href="{{ url_for('get_photo', filename=img.filename) }}">
                    <p class="award-text center-align">with "{{img.photo_title|capitalize}}"</p>
                </a>
                <p class="award-text center-align">which received {{img.photo_votes}} votes!</p>
            </div>
<!-- First Place Image(s) -->
            <div class="row">
                <a href="{{ url_for('get_photo', filename=img.filename) }}">
                    <div class="award-overlay-container  col s12 m8 offset-m2 l6 offset-l3 center-align">
                        <img class="award-photo " src="{{ url_for('file', filename=img.filename) }}" alt="{{img.photo_title}}">
                        <div class="award-overlay award-overlay-1">
                            <i class="fas fa-award award award-1"></i>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</section>
{% if second_place %}
<!-- If there are 2nd place winners -->
    <section class="second_place row">
        <div class="row">
            <h2 class="page-subheading center-align second-place-title">SECOND PLACE</h2>
            {% if second_place|length > 1 %}
                <h2 class="page-sub-subheading-text center-align tie-announcement-second">IT'S A TIE!</h2>
            {% endif %}
            {% for img in second_place %}
                {% for user in users %}
                    {% if img.created_by == user.username %}
                        {% if user.profile_photo is not none %}
<!-- Profile Photo of the 2nd place user if they have a profile photo -->
                            <div class="col s12 center-align">
                                <a class="award-text-link" href="{{url_for('profile', username=img.created_by)}}">
                                    <img class="avatar align-center" src="{{url_for('file', filename=user.profile_photo)}}" alt="{{users.username}}'s profile pic'">
                                </a>
                            </div>
                        {% else %}
<!-- Default avatar of the 2nd place user if they don't have a profile photo uploaded -->
                            <div class="col s12 center-align">
                                <a class="award-text-link" href="{{url_for('profile', username=img.created_by)}}">
                                    <img class="avatar align-center" src="{{url_for('static', filename='images/profile-pic/profile-pic-default.svg')}}" 
                                    alt="{{users.username}}'s default profile avatar">
                                </a>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
<!-- Award messages for 2nd place images -->
                <div class="award-messages col s12">
                    <a class="award-text-link" href="{{url_for('profile', username=img.created_by)}}">
                        <p class="center-align award-text">Congrats to {{img.created_by|capitalize}}!</p>
                    </a>
                    <a class="award-text-link" href="{{ url_for('get_photo', filename=img.filename) }}">
                        <p class="award-text center-align">with "{{img.photo_title|capitalize}}"</p>
                    </a>
                    <p class="center-align award-text">which received {{img.photo_votes}} votes!</p>
                </div>
<!-- Second Place Image(s) -->
                <div class="row">
                    <a href="{{ url_for('get_photo', filename=img.filename) }}">
                        <div class="award-overlay-container col s12 m8 offset-m2 l6 offset-l3">
                            <img class="award-photo" src="{{ url_for('file', filename=img.filename) }}" alt="{{img.photo_title}}">
                            <div class="award-overlay award-overlay-2">
                                <i class="fas fa-award award award-2"></i>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>
{% endif %}

{% if third_place %}
<!-- If there are 3rd place winners -->
    <section class="third_place row">
        <div class="row">
            <h2 class="page-subheading center-align third-place-title">THIRD PLACE</h2>
            {% if third_place|length > 1 %}
                <h2 class="page-sub-subheading-text center-align tie-announcement-third">IT'S A TIE!</h2>
            {% endif %}
            {% for img in third_place %}
                {% for user in users %}
                    {% if img.created_by == user.username %}
                        {% if user.profile_photo is not none %}
<!-- Profile Photo of the 3rd place user if they have a profile photo -->
                            <div class="col s12 center-align">
                                <a class="award-text-link" href="{{url_for('profile', username=img.created_by)}}">
                                    <img class="avatar align-center" src="{{url_for('file', filename=user.profile_photo)}}" alt="{{users.username}}'s profile pic'">
                                </a>
                            </div>
                        {% else %}
<!-- Default avatar of the 3rd place user if they don't have a profile photo uploaded -->
                            <div class="col s12 center-align">
                                <a class="award-text-link" href="{{url_for('profile', username=img.created_by)}}">
                                    <img class="avatar align-center" src="{{url_for('static', filename='images/profile-pic/profile-pic-default.svg')}}" 
                                    alt="{{users.username}}'s default profile avatar">
                                </a>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
<!-- Award messages for 3rd place images -->
                <div class="award-messages col s12">
                    <a class="award-text-link" href="{{url_for('profile', username=img.created_by)}}">
                        <p class="center-align award-text">Congrats to {{img.created_by|capitalize}}!</p>
                    </a>
                    <a class="award-text-link" href="{{ url_for('get_photo', filename=img.filename) }}">
                        <p class="center-align award-text">with "{{img.photo_title|capitalize}}"</p>
                    </a>
                    <p class="center-align award-text">which received {{img.photo_votes}} votes!</p>
                </div>
<!-- Third Place Image(s) -->
                <div class="row">
                    <a href="{{ url_for('get_photo', filename=img.filename) }}">
                        <div class="award-overlay-container  col s12 m8 offset-m2 l6 offset-l3">
                            <img class="award-photo " src="{{ url_for('file', filename=img.filename) }}" alt="{{img.photo_title}}">
                            <div class="award-overlay award-overlay-3">
                                <i class="fas fa-award award award-3"></i>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>
{% endif %}
{% else %}
<!-- If there were no winners -->
    <div class="row">
        <h2 class="page-sub-subheading-text center-align col s10 offset-s1 m8 offset-m2 l6 offset-l3 no-winners-description">There were no winners this week. Please try back next week!
            Apologies for any inconvenience. In the meantime here's a relaxing photo:</h2>
        <img class="no-winners-photo center-align col s10 offset-s1 m8 offset-m2 l6 offset-l3" src="{{ url_for('static', filename='images/in-app/no_recent_winners.jpg') }}" alt="poolside hat and glasses">
    </div>
{% endif %}

{% endblock %}